/* Resets default margnis and paddings */

* {
    margin: 0;
    padding: 0;
}

/*Example 1*/

.img-test {
    width: 200px;
    height: 200px;
    background-image: url("img/img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
/*
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 2s;
    -o-transition-duration: 2s;
            transition-duration: 2s;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    -webkit-transition-delay: 4s;
    -o-transition-delay: 4s;
            transition-delay: 4s;

    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
    transition-delay: 4s; */

    transition: all 2s ease-in 1s;
    -moz-transition: all 2s ease-in 1s;
    -webkit-transition: all 2s ease-in 1s;
    -o-transition: all 2s ease-in 1s;
}

.img-test:hover {
    background-image: url("img/img1.jpg");
}

/*Example 2*/

.button-test {
    display: block;
    width: 128px;
    height: 60px;
    padding-left: 20px;
    background-color: lightblue;
    font-size: 20px;
    font-family: arial;
    font-weight: 600;
    color: #222;
    line-height: 60px;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;

    transition: all 0.5s ease-in-out;
    -moz-transition: all 0,.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.button-test:hover {
    width: 170px;
    height: 300px;
    padding-left: 500px;
    background-color: red;
}

.button-test span {
    padding-left: 30px;
    color: white;
    font-weight: 900;
}